# Task 3
## Name: Ofir Tzafrir
## I.D: 206666950

<div>
<img src="https://t3.ftcdn.net/jpg/05/41/36/16/360_F_541361649_wULmubQPrL4chXgXP0MmrLuRFbQXRjsl.jpg" width="500"/>
</div>

In [1]:
import pandas as pd 
import numpy as np
import socket
import requests
import googlemaps
import json

with open('dests.txt', "r") as file:
    destinations = file.readlines()
    destinations = [line.rstrip() for line in destinations]

api_key='AIza_____l37LCU'

In [2]:
gmaps = googlemaps.Client(key='AIza_____l37LCU')

origin = 'Tel Aviv-Yafo, Israel'

distances = {}
for destination in destinations:
    result = gmaps.distance_matrix(origin, destination)
    distance = result['rows'][0]['elements'][0]['distance']['value'] / 1000
    distances[destination] = distance

dis_Ista = distances['Istanbul']
dis_Amst = distances['Amsterdam']
dis_Vall = distances['Valletta']
dis_Bas = distances['Basel']
dis_Doha = distances['Doha']

In [3]:
travel_times = []

for destination in destinations:
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Tel%20Aviv&destinations={}&key=AIza_____l37LCU".format(destination)
    response = requests.get(url)
    data = response.json()
    travel_time = data["rows"][0]["elements"][0]["duration"]["value"] // 60
    travel_times.append(travel_time)

time_Ista = travel_times[0]
time_Amst = travel_times[1]
time_Vall = travel_times[2]
time_Bas = travel_times[3]
time_Doha = travel_times[4]

In [4]:
address="Istanbul, Turkey"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Ista = response['results'][0]['geometry']['location']['lat']
lng_Ista = response['results'][0]['geometry']['location']['lng']

#----------------------------

address="Amsterdam, Netherlands"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Amst = response['results'][0]['geometry']['location']['lat']
lng_Amst = response['results'][0]['geometry']['location']['lng']

#----------------------------

address="Valletta, Malta"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Vall = response['results'][0]['geometry']['location']['lat']
lng_Vall = response['results'][0]['geometry']['location']['lng']

#----------------------------

address="Basel, Switzerland"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Bas = response['results'][0]['geometry']['location']['lat']
lng_Bas = response['results'][0]['geometry']['location']['lng']

#----------------------------

address="Doha, Qatar"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Doha = response['results'][0]['geometry']['location']['lat']
lng_Doha = response['results'][0]['geometry']['location']['lng']

In [5]:
df = pd.DataFrame([['Istanbul', dis_Ista, time_Ista, lat_Ista, lng_Ista],
                   ['Amsterdam', dis_Amst, time_Amst, lat_Amst, lng_Amst],
                   ['Valletta', dis_Vall, time_Vall, lat_Vall, lng_Vall],
                   ['Basel', dis_Bas, time_Bas, lat_Bas, lng_Bas],
                   ['Doha', dis_Doha, time_Doha, lat_Doha, lng_Doha]],    
                  columns=['Target','Distance_km','Duration (minutes)','Longitude','latitude']) 
df

      Target  Distance_km  Duration (minutes)  Longitude   latitude
0   Istanbul     1815.227                1262  41.008238  28.978359
1  Amsterdam     4527.140                2896  52.367573   4.904139
2   Valletta     3792.877                3051  35.899237  14.514100
3      Basel     4092.812                2642  47.559599   7.588576
4       Doha     2164.477                1358  25.285447  51.531040

In [6]:
a = df[['Target','Distance_km']].groupby(['Target']).max(reversed)
a.head(3)

           Distance_km
Target
Amsterdam     4527.140
Basel         4092.812
Doha          2164.477